html {
  scroll-behavior: smooth;
}

ul.nav {
  position: absolute;
  right: 0;
  display: flex;
  list-style: none;
  gap: 20px;

  @media (width <= 1400px) { gap: 10px }

  @media (width <= 1200px) { gap: 0 }

  @media (width <= 1100px) { display: none }

  li {
    position: relative;
    opacity: .8;

    &:first-child { display: none }

    a {
      font-weight: 200;
      cursor: pointer;
      padding: 6px 10px;
      transition: 0.3s ease;

      .top & { text-shadow: 1px 1px 6px rgb(0 0 0) }
    }

    &:hover {
      color: var(--blue);
    }

    &.active {
      opacity: 1;
      a { color: var(--blue) }
    }
  }
}


.btn-next-section {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  width: 100%;
  height: 60px;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: all 200ms ease-in-out;

  .arrow {
    content: '';
    height: 18px;
    width: 18px;
    border-left: 2px solid var(--dark-background);
    border-bottom: 2px solid var(--dark-background);
    position: absolute;
    bottom: 40px;
    opacity: .4;
    transition: all 200ms ease-out;
    transform: rotate(-45deg);
    .dark & { border-color: #fff }
  }

  .bar {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 1px;
    background: #021930;
    transition: all 200ms ease-out;
    .dark & { background: #fff }
  }

  &:hover {
    .arrow {
      bottom: 20px;
      border-color: #fff;
      transition-delay: 100ms; /* delay so doesn't appear on mouse over */
      .dark & { border-color: var(--dark-background) }
    }

    .bar {
      height: 60px;
      cursor: pointer;
      transition-delay: 100ms; /* delay so doesn't appear on mouse over */
    }
  }

  /* hide last btn - there's nothing after it */
  .section:last-child & { display: none }
}


header {
  background: rgb(3 31 59 / 90%);
  color: #fff;
  box-shadow: 0 0 14px 1px rgb(0 0 0 / 10%);
  transition: all 200ms;

  &.top {
    background: transparent;
    box-shadow: unset;
  }

  &.invert {
    background: rgb(255 255 255 / 80%);
    color: #000;
  }

  div {
    position: relative;
    max-width: var(--page-max-width);
    margin: 0 auto;
    height: inherit;
    display: flex;
    align-items: center;

    .home {
      position: absolute;
      left: 40px;
      display: flex;
      align-items: center;

      span {
        font-weight: 300;
        margin: 5px 0 0 10px;

      }
    }

    .search {
      position: absolute;
      right: 40px;
      height: 24px;
      width: 24px;
      cursor: pointer;
    }
  }
}
